@model IEnumerable<CategoryViewModel>
@{
    ViewData["Title"] = "Kategori";
}

 <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body"> 
                     <h6 class="card-title"> @(ViewBag.IsActive ?  "KATEGORİLER" : "AKTİF OLMAYAN KATEGORİLER SAYFASI")</h6> 
     
      @if (ViewBag.IsActive==true) 
      {
      <a asp-area="Admin" asp-controller="Category" asp-action="Index" asp-route-id="false" class="btn btn-danger btn-round"title="Aktif Olmayan Kategorileri göster">
      <i class="mdi mdi-chevron-double-up"></i>
      </a>

      }else
      {
      <a asp-area="Admin" asp-controller="Category" asp-action="Index" asp-route-id="true" class="btn btn-success btn-round"title="Aktif Kategorileri Göster">
      <i class="fas fa-check"></i>
      </a>
      }
      <a asp-area="Admin" asp-controller="Category" asp-action="Create" class="btn btn-primary btn-round"title="Yeni Kategori Oluştur">
      <i class="mdi mdi-plus-circle-outline"></i>
      </a>
                    
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th> Id </th>
                          <th> Name </th>
                          <th> Icon </th>
                          <th scope="col">Aktif</th>
                        <th width="120">İşlemler<th> 
                        </tr>
                      </thead>
                      <tbody>
                      @foreach (var x in Model)
{
    <tr>
        <td>@x.Id</td>
        <td>@x.Name</td>
        <td><i class="fa-2x @x.Icon"></i></td>
        <td> 
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="isActive-@x.Id"
                    @(x.IsActive ? "checked" : "") 
                    onchange="changeIsActive(@x.Id, this.checked)">
                <label class="form-check-label" for="isActive-@x.Id"></label>
            </div>
        </td>
        <td>
            <a asp-area="Admin" asp-controller="Category" asp-action="Update" asp-route-id="@x.Id" class="btn btn-warning btn-round" title="Düzelt">
                <i class="mdi mdi-pencil-outline"></i>
            </a>
            <partial name="_CategoryDeletePartial" model="@x" />
        </td>
    </tr>
}

                      </tbody>
                    </table>
                  
                </div>
              </div>
<script>
        function changeIsActive(categoryId){
            $.ajax({
                url: `/admin/category/active/${categoryId}`,
                type: 'GET',
                success: function(response){
                    
                    console.log(response==0 ?"İşlem başarısız": "İşlem başarılı");
                },
                error: function(error){
                    console.log(error);
                }
            });
        }
    </script>